.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.login > img {
  width: 50%;
}

.login__tooltip {
  color: white !important;
}
.login > a {
  padding: 20px;
  border-radius: 99px;
  background-color: #1db954;
  color: white;
  font-weight: 800;
  text-decoration: none;
  cursor: pointer;
}

.login_button:hover {
  background-color: green;
}

.login__info {
  color: white;
  text-align: center;
  cursor: default;
  border-radius: 50px;
  background: linear-gradient(145deg, #2c2c2c, #252525);
  box-shadow: 20px 20px 60px #232323, -20px -20px 60px #2f2f2f;
  padding: 20px;
}

.login_cred {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 10px;
}

.login_cred > strong {
  cursor: copy;
}

.login__button {
  color: white !important;
  transition: 0.5 transform ease-in;
  transform: scale(1.05);
}

.login__button:hover {
  transition: 0.5 transform ease-in;
  transform: scale(1.07);
}

.login_cred > input {
  background-color: black;
  color: white;
  border-radius: 50px;
  margin: 2px;
  padding-left: 10px;
  text-align: center;
  cursor: default;
  text-decoration: none;
  
}

.login_cred > h4 {
  margin-top: 5px;
}
